body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

img {
  width: 300px;
}

section {
  display: flex;
  height: 100vh;
}

section img {
  margin: auto;
  padding: 10px;
}

.info {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  justify-content: center;
  align-items: center;
}


.swipe {
  position: fixed;
  width: 100%;
  display: flex;
  bottom: 0;
  justify-content: center;
}

@media (min-width: 720px) {
  .info img {
    display: block;
    position: absolute;
  }

  .desktop1 {
    margin-top: -11em;
    margin-left: -12em;
    width: 450px;
  }

  .desktop2 {
    margin-top: 4em;
    margin-left: 13em;
  }

  .info .image {
    display: none;
  }

}

@media (max-width: 719px) {
  .image {
    display: block;
    position: absolute;
  }

  .desktop1,
  .desktop2 {
    display: none;
  }

  .mobile1 {
    top: 0;
  }

  .mobile2 {
    bottom: 1em;
  }

  .info {
    height: 100vh;
  }

}