body {
  background-color: white;
  font-family: sans-serif;
  overflow: hidden;
}

section {
  display: flex;
  height: 100vh;
}

section img {
  margin: auto;
  padding: 10px;
}

.info {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
}

.info img {
  margin: auto;
  padding-top: 50px;
  padding-right: 99px;
}

.swipe {
  position: fixed;
  width: 100%;
  display: flex;
  bottom: 0;
  justify-content: center;
}
